@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
    <link href="../../Content/jquery.mobile-1.3.2.css" rel="stylesheet" />
    <script src="../../Scripts/jquery-2.0.3.js"></script>
    <script src="../../Scripts/jquery.mobile-1.3.2.js"></script>
</head>
<body>
    <div data-role="page" data-theme="b">
        <div data-role="header">Success</div>
        <div data-role="content">
            <div>Data saved successfully!</div>
            <a href="/home/index" data-role="button">Back To List</a>
        </div>
    </div>
</body>
</html>
